body {
	margin: 0;
}

section {
	padding: 20px;
}

/* input::file-selector-button {
	padding: 0.5em;
	font-size: 2rem;
} */

#upload-section {
	height: 20vh;
	background-color: #ff9494;
}

#files-section {
	background-color: #fee486;
	display: flex;
	justify-content: center;
  align-items: center;

	flex-wrap: wrap;
	min-height: 80vh;
}

#files-section > img {
	max-height: 30vh;
	max-width: 50vw;
	margin: 10px;
}