body {
	margin: 0;
}

section {
	padding: 20px;
}

label[for="files"] {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	outline: solid #ba6d6d 5px;
	color: #965a5a;
	height: 80%;
	width: 100%;
	font-size: 2rem;
}

#upload {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	background: none;
	border: none;
	align-items: center;
	cursor: pointer;
	outline: solid #ba6d6d 5px;
	color: #965a5a;
	height: 20%;
	width: 100%;
	font-size: 2rem;
	margin-top: 20px;
}

input[type="file"] {
	display: none;
}

#upload-section {
	display: flex;
	flex-direction: column;
	height: 20vh;
	background-color: #ff9494;
}

#files-section {
	background-color: #fee486;
	display: flex;
	justify-content: center;
  align-items: center;

	flex-wrap: wrap;
	min-height: 80vh;
}

#files-section > img {
	max-height: 300px;
	max-width: 500px;
	margin: 10px;
}

* {
	font-family: Arial;
}